.panel_task {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 16px;

  &__content {
    width: 100%;
    max-width: 124px;
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      width: 36px;
      height: 36px;
      background-color: #242320;
      border: 1px solid $color-primary2;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        box-shadow: 0 0 5px 1px $color-primary !important;
      }

      img {
        height: 16px;
        width: 16px;
      }
    }
  }
}