$font-roboto: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;

$color-text: #F0E3CA;
$color-background: #1B1A17;
$color-primary: #FF8303;
$color-border: rgba(75, 74, 74, 0.66);
$color-hover: rgba(255, 131, 3, 0.8);
$color-primary2: #A35709;
$background-item: #242320;
$color-placeholder: #F0E3CAA3;

$container-min-height: 800px;
$container-max-width: 390px;
$border-radius-small: 4px;
$border-radius-large: 8px;
